img#gingko(src="/assets/images/gingko.png")
  
h1 Jenelle and Zeke are getting married

h2.date June 27, 2015

h2 Location

:markdown
  Chocolate caramels candy fruitcake tootsie roll. Muffin chocolate gummies biscuit pudding croissant donut danish danish. Cake apple pie icing cookie bonbon lollipop halvah macaroon. Marshmallow cake marzipan. Icing dragée biscuit. Cookie cotton candy chupa chups muffin cookie sweet muffin jelly beans. Applicake ice cream jelly-o carrot cake. Jelly-o biscuit sweet roll dessert cheesecake oat cake bonbon topping chocolate cake. Ice cream gummies tart lemon drops biscuit.

h2 Schedule

:markdown
  Muffin chocolate gummies biscuit pudding croissant donut danish danish. Cake apple pie icing cookie bonbon lollipop halvah macaroon. Marshmallow cake marzipan. Icing dragée biscuit. Cookie cotton candy chupa chups muffin cookie sweet muffin jelly beans. Applicake ice cream jelly-o carrot cake. Jelly-o biscuit sweet roll dessert cheesecake oat cake bonbon topping chocolate cake. Ice cream gummies tart lemon drops biscuit.

h2 Registry

:markdown
  Cake apple pie icing cookie bonbon lollipop halvah macaroon. Marshmallow cake marzipan. Icing dragée biscuit. Cookie cotton candy chupa chups muffin cookie sweet muffin jelly beans. Applicake ice cream jelly-o carrot cake. Jelly-o biscuit sweet roll dessert cheesecake oat cake bonbon topping chocolate cake. Ice cream gummies tart lemon drops biscuit.

h2 Attire

:markdown
  Cake apple pie icing cookie bonbon lollipop halvah macaroon. Marshmallow cake marzipan. Icing dragée biscuit. Cookie cotton candy chupa chups muffin cookie sweet muffin jelly beans. Applicake ice cream jelly-o carrot cake. Jelly-o biscuit sweet roll dessert cheesecake oat cake bonbon topping chocolate cake. Ice cream gummies tart lemon drops biscuit.
  
h2 RSVP

:markdown
  Cake apple pie icing cookie bonbon lollipop halvah macaroon. Marshmallow cake marzipan. Icing dragée biscuit. Cookie cotton candy chupa chups muffin cookie sweet muffin jelly beans. Applicake ice cream jelly-o carrot cake. Jelly-o biscuit sweet roll dessert cheesecake oat cake bonbon topping chocolate cake. Ice cream gummies tart lemon drops biscuit.

img.gingko-leaf-pair(src="/assets/images/gingko-leaf-pair.png")
  
h3.kisses XOXOXOXOX

//- ul#nav
//-   li
//-     a(href="#location") Location
//-   li
//-     a(href="#schedule") Schedule
//-   li
//-     a(href="#registry") Registry
//-   li
//-     a(href="#attire") Attire
//-   li
//-     a(href="#rsvp") RSVP
