h1 Jenelle and Zeke are getting married

h2.date Saturday, June 27 2015  

ul#nav
  li
    a(href="#location") Location
  li
    a(href="#schedule") Schedule
  li
    a(href="#travel") Travel
  li
    a(href="#lodging") Lodging
  li
    a(href="#registry") Registry
  li
    a(href="#rsvp") RSVP

h2#location Location

:markdown
  Join Zeke, Jenelle, and Cosmos this summer for a celebration of love with our closest friends and relatives. The ceremony and 
  reception will be held at the [Montclair Women's Cultural Arts 
  Club](http://goo.gl/raRba3) in the hills of Oakland, California. This charming venue is 30 minutes from San Francisco by car, and 
  about an hour from Napa or Sonoma.  

h2#schedule Schedule

:markdown
  The basic schedule is this: On **Saturday**, the ceremony and reception will 
  be held at the [Montclair Women's Cultural Arts Club](http://goo.gl/raRba3) 
  in Oakland. On **Sunday**, we'll host a picnic in San Francisco's [Golden 
  Gate Park](http://www.golden-gate-park.com/). Expect an email and a website 
  update with more specific details soon. 
  
h2#travel Travel
  
:markdown
  If you're flying, you'll want land at **OAK** or **SFO**. To search 
  for cheap flights, try [google.com/flights](http://goo.gl/vdX9Hn), 
  which has fares for most popular airlines. Give 
  [southwest.com](https://www.southwest.com/) a try too, as their flights are 
  not listed by any other service. 
  

  If you're coming by train, take the [California 
  Zephyr](http://www.amtrak.com/california-zephyr-train) or the [Coast 
  Starlight](http://www.amtrak.com/coast-starlight-train) to Emeryville or 
  Jack London Square in Oakland. 
  
  We recommend renting a car if you are flying or taking a train. 

  If you're driving, you're driving.  

h2#lodging Lodging
  
:markdown
  [AirBNB](http://goo.gl/X6YXBf) is your best option for finding an affordable,
  interesting, and convenient place to stay. It's great for families with kids, 
  and easy to find a big space to split between a group. 
  
  Here are a few hotels in the Berkeley/Oakland area:
  
  - [Doubletree Hilton Berkeley Marina](http://doubletree3.hilton.com/en/hotels/california/doubletree-by-hilton-hotel-berkeley-marina-JBKCADT/index.html)
  
  - [Courtyard Marriot Emeryville](http://www.marriott.com/hotels/travel/oakmv-courtyard-oakland-emeryville/)
  
  - [Claremont Hotel Club & Spa](www.claremontresort.com/)
  
  - [Hotel Shattuck Plaza](http://www.hotelshattuckplaza.com/)
  
  And a few in San Francisco:
  
  - [Marriot Union Square](http://www.marriott.com/hotels/travel/sfous-san-francisco-marriott-union-square/)
  
  - [Hyatt Regency](http://sanfranciscoregency.hyatt.com/en/hotel/home.html)
  
  - [Argonaut Hotel](http://www.argonauthotel.com/)
  

  
  If you're planning to camp, there are a handful of beautiful 
  campsites within minutes of Oakland and Berkeley, namely the [Chabot 
  Regional Park](http://www.ebparks.org/parks/anthony_chabot). More info at 
  [ebparks.org](http://www.ebparks.org/activities/camping)  
    
h2#registry Honeymoon Fund

:markdown
  Instead of a traditional gift registry, we've set up a fund for our wedding and honeymoon. To donate to our honeymoon fund, visit 
  [zola.com/registry/jenelleandzeke](https://www.zola.com/registry/jenelleandzeke). 
  Your donations are appreciated, but not required. <3 
  
div.centered-container
  a.boxed(href="https://www.zola.com/registry/jenelleandzeke") Donate

h2#rsvp RSVP

:markdown
  We hope you can make the trip out to celebrate with us. Please let us know 
  whether or not you're coming, and leave any notes. 

form.rsvp
  
  .field
    label(for="rsvp-name") Your name
    input#rsvp-name(name="name" required="required" type="text")

  .field.boolean
    
    label(for="rsvp-attending-yes")
      input#rsvp-attending-yes(type="radio" name="attending" value="yes" checked="checked")
      span Attending
      
    label(for="rsvp-attending-no")
      input#rsvp-attending-no(type="radio" name="attending" value="no")
      span Not Attending
  .field
    label(for="rsvp-guests") Number of guests, including yourself
    select#rsvp-guests(name="guests")
      option(value="1") 1 solitary guest
      option(value="2") 2 happy guests
      option(value="3") 3 is company
      option(value="4") 4 people fit in a sedan
      option(value="5") 5 alive
      option(value="6") 6 pick up sticks
      option(value="7") 7 in a minivan
      option(value="8") 8 you're Danielle

  .field
    label(for="rsvp-talents") Names of your guests; party ideas; special talents...
    textarea#rsvp-talents(name="talents")

  div.centered-container
    input(type="submit" value="Send your Response")
      
  div.centered-container.form-result-happy(style="display:none;")
    :markdown
      Yay, you're coming! We'll see you in June.
      
  div.centered-container.form-result-sad(style="display:none;")
    :markdown
      You're not coming? Bummer...&nbsp;&nbsp;&nbsp;:(
          
h3.kisses XOXOXOXOX
