img(src="/assets/images/gingko.png")

ul#nav
  li
    a(href="#location") Location
  li
    a(href="#schedule") Schedule
  li
    a(href="#registry") Registry
  li
    a(href="#attire") Attire
  li
    a(href="#rsvp") RSVP
