// backgroundColor = #62700B
// backgroundColor = #A0A880
// backgroundColor = #E29B6F
backgroundColor = #CC8E6A
headingColor = black
textColor = #333
columnWidth = 400px
imageWidth = 400px

@font-face
  font-family springtime
  font-style normal
  src url(/assets/fonts/springtime.ttf)

*
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

html, body
  width 100%
  height 100%

body
  font-family "PT Serif", helvetica, arial
  color textColor
  background backgroundColor url("/assets/images/gingko-tile.png")
  padding 0
  margin 0
  position relative

#content
  background white url("/assets/images/dust.jpg")
  margin 50px auto 100px auto
  padding 25px
  max-width columnWidth
  position relative
  box-shadow 0 0 40px rgba(black, 0.5)
  text-align center
  border-radius 4px

#gingko
  display inline-block
  width 100%

#nav
  text-align center
  li
    display inline-block
    padding 0 20px
    a
      text-decoration none

h1,h2,h3,h4
  text-align center
  font-family springtime
  color headingColor
  line-height 1.2

h1
  font-size 2.2rem
  opacity 0.7

h2
  margin-top 4rem
  letter-spacing 1rem

h2.date
  margin-top 3rem
  font-size 1rem
  letter-spacing 0.8rem

p
  font-size 1rem
  line-height 1.5
  padding 0 0 10px 0
  margin 0
  text-align justify

h3.kisses
  letter-spacing 1.2rem
  font-size 1rem

a
  color textColor

#footer
  text-align center

img.gingko-leaf-pair
  margin 100px auto 20px auto
